{% extends 'layout.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
<header class="p-3 text-white" style="background-color: #1c1d1f;">
    <div class="container">
        {% if messages %}
        <div class="bg-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        <h1>{{title}}</h1>
    </div>
    <div class="container">
        <h3>{{subtitle}}</h3>
    </div>
</header>
{% endwith %}
<div class="container mt-5 mb-2" id="main_content"> 
    <div class="row">
        {% for course in courses.items %}
        <div class="col-sm-4 mb-2">
            <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">{{course.title}}</h5>
                  <p class="card-text">{{course.subtitle}}</p>
                  <p class="card-text">Categories: 
                    {% for category in course.categories %}
                        <a href="{{url_for('categories',categories=category.name)}}" class="btn btn-sm btn-warning rounded mb-2">{{category.name|capitalize}}</a>
                    {% endfor %}
                  </p>
                  <p class="card-text">Author:
                      <a href="{{url_for('author',author=course.author.name)}}" target="_blank" class="btn btn-sm btn-primary rounded mb-2">{{course.author.name|title}}</a>
                  </p>
                  <a href="{{url_for('display',page_url=course.page_url)}}" target="_blank" class="btn text-white" style="background-color: black;">
                    <i class="fa fa-eye"></i>
                  </a>
                  {% if current_user.email=='admin@gmail.com' %}
                  <a href="{{url_for('delete',page_url=course.page_url)}}" id="delete-btn" class="btn btn-danger text-white">
                    <i class="fa fa-trash"></i>
                  </a>
                  {% endif %}
                  {% if course.id not in user_course_list %}
                  <a href="{{url_for('buy_course',course_id=course.id)}}" class="btn btn-info text-white float-right">
                    <i class="fa fa-shopping-cart" aria-hidden="true">&nbsp; Buy now</i>
                  </a>
                  {% else %}
                  <a href="{{url_for('get_user_courses')}}" class="btn btn-success text-white float-right">
                    <i class="fa fa-check" aria-hidden="true">&nbsp; Purchased</i>
                  </a>
                  {% endif %}
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="container mb-5" style="text-align: right">
    <!-- Add Page Numbers -->
    <a href="{{url_for('home',page=courses.page-1)}}" class="btn btn-outline-dark {% if courses.page==1 %} disabled {% endif %}">
        &laquo
    </a>
    {% for page in courses.iter_pages(left_edge=1,right_edge=2,left_current=1,right_current=2) %}
        {% if page %}
            {% if page==courses.page %}
                <a href="{{url_for('home',page=page)}}" class="btn btn-dark">{{page}}</a>
            {% else %}
                <a href="{{url_for('home',page=page)}}" class="btn btn-outline-dark" style="font-weight:bold">{{page}}</a>
            {% endif %}
        {% else %}
            <a href="#" class="btn btn-outline-dark" style="font-weight:bold">...</a>
        {% endif %}
    {% endfor %}
    <a href="{{url_for('home',page=courses.page+1)}}" class="btn btn-outline-dark {% if courses.page==courses.pages %} disabled {% endif %}">
        &raquo
    </a>
</div>
{% endblock %}